.loading-map {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  color: white;
}

.search-container {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: white;
  z-index: 999;
  width: 250px;
  padding: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.pointer {
  cursor: pointer;
}

.active {
  color: white;
  background-color: rgba(118, 149, 250, 0.829);
}
